---
import background from '../assets/background.svg';

const aboutMessage = "What's DBC About?";
---

<section class="flex flex-col justify-center items-center p-4 font-sans min-h-screen text-center">
  <img
    src={background.src}
    alt=""
    fetchpriority="high"
    class="fixed inset-0 w-full h-full -z-10 blur-3xl"
  />

  <hgroup>
    <h1 class="text-2xl font-semibold mt-1">{aboutMessage}</h1>
    <p class="text-lg text-gray-400 mt-2">
      Grounded in Consent, Education, Risk-aversion, Fun, Weird and Community!
    </p>
  </hgroup>

  <div class="mt-6 max-w-prose space-y-3">
    <p>A local Shibari group that meets on a (mostly) bi-weekly basis!</p>
    <p>Though a closed group, the collective is open to rope folx new and seasoned after a simple vetting process.</p>
    <p>We hope you join us soon!</p>
    <a 
        href="/vetting" 
        class="inline-block mt-2 px-6 py-3 bg-violet-600 text-white font-medium rounded-lg hover:bg-violet-700 transition-colors">
            Click to Begin the Vetting process
    </a>
  </div>
</section>